template(name='nav')
    .ui.stackable.padded.grid.menu
        if currentUser
            .centered.nav_bar.row
                .one.wide.column.pointer.toggle_leftbar.item
                    .ui.header
                        i.menu.icon
                        if current_type.icon
                            i.urrent_type.icon
                        | #{current_type.title}
                .one.wide.column.toggle_topbar.pointer
                    i.contacts.icon
                .one.wide.column.toggle_topbar.pointer
                    i.shopping.icon
                .eight.wide.column.pointer.toggle_topbar.item
                    img.ui.small.centered.image(src='https://jan-pro.com/wp-content/themes/underboot/img/jan-pro-white.svg')
                .one.wide.column.toggle_topbar.pointer
                    i.bookmark.icon
                .one.wide.column.toggle_topbar.pointer
                    i.tasks.icon
                .one.wide.column.toggle_topbar.pointer
                    i.mailbox.icon
                .one.wide.column.toggle_topbar.pointer
                    i.appointment.icon
                .one.wide.column.toggle_rightbar.pointer.item
                    if currentUser.image_id
                        img.ui.mini.centered.image(src="{{c.url currentUser.image_id width=50 height=50 gravity='face' crop='fill'}}")
                    else
                        i.gender.icon



template(name='topbar')
    .ui.top.sidebar.segment.push.nav_bar.row.topbar
        .ui.grid
            .four.wide.column
            .four.wide.column
            .four.wide.column
            .four.wide.column
        a.icon.item(href='/alerts' title='Alerts')


template(name='bottombar')
    .ui.bottom.sidebar.segment.push.nav_bar.row.bottombar
        .ui.header hi
        .ui.header hi
        .ui.header hi
        .ui.header hi
        .ui.header hi
        .ui.header hi
        .ui.grid
            .four.wide.column
            .four.wide.column
            .four.wide.column
            .four.wide.column
        a.icon.item(href='/alerts' title='Alerts')



template(name='leftbar')
    .ui.left.vertical.thin.sidebar.nav_bar.menu.leftbar
        each schemas
            a.item.toggle_leftbar(href="/s/#{slug}")
                i.grey.icon(class=icon)
                | #{plural}
        a.item.toggle_leftbar(href='/people')
            i.users.grey.icon
            | People
        a.item.toggle_leftbar(href='/schemas')
            i.sitemap.grey.icon
            | Schemas
        a.item.toggle_leftbar(href='/user_reports')
            i.newspaper.grey.icon
            | Reports



template(name='rightbar')
    .ui.right.vertical.sidebar.nav_bar.menu.rightbar
        .item.toggle_rightbar
            | #{currentUser.profile.first_name} #{currentUser.profile.last_name}
            | #{currentUser.username} #{currentUser.profile.name}
        .item.toggle_rightbar
            i.leaderboard.icon
            | Leaderboard
        a.item.toggle_rightbar(href='/account')
            if currentUser.username
                |#{currentUser.username}
            else
                |Account
        .item.toggle_rightbar
            i.contacts.icon
            | Profile
        a.item.toggle_rightbar(href='/account')
            i.cog.grey.icon
            | Settings
        if signing_out
            .icon.disabled.item.toggle_rightbar
                    i.notched.circle.loading.big.icon
        else
            a#logout.item.toggle_rightbar(href='#')
                i.sign.out.icon
                | Log Out
