template(name='comments')
    .ui.secondary.segment
        .ui.header
            i.comment.outline.icon
            |Comments
        .ui.fluid.icon.input
            i.plus.icon
            input.add_comment(type='text' placeholder='Add comment...')
        .ui.comments
            each doc_comments
                .comment
                    .content
                        .header #{body}
                        .meta #{when}
                        .actions
                            i.thumbs.up.link.icon
                            i.remove.link.remove_comment.icon

template(name='follow')
    .ui.secondary.segment
        .ui.header
            i.bell.grey.outline.icon
            |Follow
        if following
            .ui.fluid.circular.button.unfollow
                i.bell.slash.icon
                |Unfollow
        else
            .ui.fluid.circular.button.follow
                i.bell.icon
                |Follow
        .ui.small.header Following
        .ui.list
            each followers
                +user_list_info


template(name='user_list_info')
    .item
        |#{user.profile.name}
        // |#{username} #{emails[0].address}




template(name='user_info')
    |#{user.profile.name}


template(name='role_editor')
    each roles
        .ui.button #{this}

template(name='author_info')
    .ui.header #{author.username}

template(name='creation_info')
    .ui.header #{when}





template(name='bookmark_button_small')
    .ui.icon.bookmark.circular.button(class=bookmark_class title='Bookmark')
        i.bookmark.outline.icon

template(name='bookmark_button_big')
    .ui.fluid.bookmark.circular.button(class=bookmark_class title='Bookmark')
        i.bookmark.outline.icon
        |Bookmark
    each bookmark_ids
        +user_info

template(name='user_list_toggle')
    .ui.fluid.toggle.circular.button(class=user_list_toggle_class title=add_label)
        i.icon(class=icon)
        if big
            if in_list
                |#{remove_label}
            else
                |#{add_label}
    each list_users
        +user_info




template(name='voting')
    if points
        strong #{points}
    .ui.icon.circular.button.upvote
        i.thumbs.up.icon(class=upvote_class)
    each upvoter_ids
        +user_info
    .ui.icon.circular.button.downvote
        i.thumbs.down.icon(class=downvote_class)
    each downvoter_ids
        +user_info



template(name='view_button')
    a.ui.icon.circular.button.view(title='view' href="/view/#{_id}")
        i.play.icon

template(name='remove_button')
    a.ui.icon.circular.button.remove(title='remove')
        i.remove.icon

template(name='add_button')
    a.ui.icon.circular.button.add(title='add')
        i.plus.icon
        |#{type}



template(name='edit_button_small')
    a.ui.icon.circular.button.edit(title='edit' href="/#{type}/#{_id}/edit")
        i.pencil.icon

template(name='edit_button_big')
    a.ui.fluid.circular.button.edit(title='edit' href="/#{type}/#{_id}/edit")
        i.pencil.icon
        |Edit

template(name='save_button')
    a.ui.icon.fluid.circular.button.save(title='save' href="/#{type}/#{_id}/view")
        i.checkmark.icon



template(name='toggle_button')
    .ui.icon.toggle.circular.button(title=label)
        i.icon(class=icon)
    each selected
        |#{username}





template(name='view_user_button')
    .ui.icon.view_user.circular.button.view(title="view #{username}")
        i.play.icon


template(name='add_type_button')
    .ui.icon.circular.button.add(title="add #{type}")
        i.plus.icon
        |#{type}


