template(name='view_button')
    a.ui.icon.circular.button.view(title='view' href="/view/#{_id}")
        i.play.icon

template(name='remove_button')
    a.ui.icon.circular.button.remove(title='remove')
        i.remove.icon

template(name='add_button')
    a.ui.icon.circular.button.add(title='add')
        i.plus.icon
        |#{type}



template(name='edit_button')
    a.ui.icon.circular.button.edit(title='edit' href="/#{type}/#{_id}/edit")
        i.pencil.icon

template(name='save_button')
    a.ui.icon.fluid.circular.button.save(title='save' href="/#{type}/#{_id}/view")
        i.checkmark.icon



template(name='toggle_button')
    .ui.icon.toggle.circular.button(title=label)
        i.icon(class=icon)
    each selected
        |#{username}





template(name='view_user_button')
    .ui.icon.view_user.circular.button.view(title="view #{username}")
        i.play.icon


template(name='add_type_button')
    .ui.icon.circular.button.add(title="add #{type}")
        i.plus.icon
        |#{type}

